<div class="container" style="margin-bottom: 20px">
  <div ng2-carouselamos [width]="900" [items]="items" [$item]="itemTemplate" [$prev]="prevTemplate" [$next]="nextTemplate"
      (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"></div>

  <ng-template #prevTemplate>
      <img width="50px" src="../../../assets/img/prev.png">
  </ng-template>

  <ng-template #nextTemplate>
      <img width="50px" src="../../../assets/img/next.png">
  </ng-template>

  <ng-template let-item let-i="index" #itemTemplate>
      <div style="min-width: 500px">
          <div *ngIf="i === selectedIndex">
              <img width="900px" src="{{ item.name }}">
          </div>
      </div>
  </ng-template>
</div>