<div>
  <h4>Shopping Cart</h4>
  <img src="../../../assets/img/shopping-cart.png" style="width:150px">
  <hr/>
  <div class="cart">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="cart-body">
          <div class="cart-item" *ngFor="let product of productsInCart">
            <div style="display: inline">
              {{product.name}}: {{product.price}}
            </div>
          </div>
        </div>

        <div class="alert alert-info" *ngIf="productsInCart.length==0">Cart is empty</div>
        <div class="alert alert-info" *ngIf="productsInCart.length>0"> You have {{productsInCart.length}} items in the cart</div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>